<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>
    <h1>Welcome, dear Rider!</h1>
    <p>This "peace of art" of a webpage is a simple MOTOGP presentation with street legal motorbikes.</p>
    <p><i>Source:&copy; https://de.wikipedia.org/wiki/MotoGP</i></p>
    <img src="C:\Users\JoaoV\lab-express-basic-site\public\images\1.png.jpg" />
    <a href="/about">About</a>
    <a href="/works">Works</a>
</body>
</html> 